name: levit_flutter_core_example
description: Demonstrates how to use key features of levit_flutter.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  levit_flutter_core:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  fake_async: ^1.3.3
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
