name: levit_example_async_catalog
description: Async loading and status handling showcase for levit_flutter.
publish_to: none
version: 0.1.0

environment:
  sdk: ^3.0.0

dependencies:
  flutter:
    sdk: flutter
  levit_flutter:
    path: ../../packages/kits/levit_flutter

dev_dependencies:
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
