name: Coverage

on:
  workflow_call:
  workflow_dispatch:

jobs:
  coverage:
    name: ${{ matrix.package.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package:
          - { name: "levit_reactive", path: "packages/core/levit_reactive" }
          - { name: "levit_scope", path: "packages/core/levit_scope" }
          - { name: "levit_dart_core", path: "packages/core/levit_dart_core" }
          - { name: "levit_flutter_core", path: "packages/core/levit_flutter_core" }
          - { name: "levit_monitor", path: "packages/core/levit_monitor" }
          - { name: "levit_dart", path: "packages/kits/levit_dart" }
          - { name: "levit_flutter", path: "packages/kits/levit_flutter" }

    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
          
      - name: Install dependencies
        run: flutter pub get
        working-directory: ${{ matrix.package.path }}
        
      - name: Run tests with coverage
        run: flutter test --coverage
        working-directory: ${{ matrix.package.path }}
        
      - name: Fix coverage paths
        run: |
          if [ -f coverage/lcov.info ]; then
            sed -i "s|SF:lib/|SF:${{ matrix.package.path }}/lib/|g" coverage/lcov.info
          fi
        working-directory: ${{ matrix.package.path }}

      - name: Upload to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: ${{ matrix.package.path }}/coverage/lcov.info
          flags: ${{ matrix.package.name }}
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false
